.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: azure;
  /* color: #333; */
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
